body{
    margin:0;
    
      background-color: white;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    
    
    
}






.video{
    
    
    margin-right: auto;
    padding:220px;
    float: right;
    width: 200px;
    height: 50px;

    
  
    
}



h1{
    text-align: center;
}



#contact{
    
     width: 1250px;
    border:1px red;
    padding:10px;
    text-align: right;
    position: relative;
    bottom:  40px;
}

#summaryText{
     
       border:1px red;
    padding:10px;
    text-align: left;
    
    position: relative;
    left: 40px;
    
}





#projects{
    width: 500px;
    border:1px red;
    padding:10px;
    text-align: left;
    
    position: relative;
    left: 40px;
    

}


.images {
    
    
    --gap: 16px;
	--num-cols: 3;
	--row-height: 200px;
   
	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
    
}

.images>img {
    
	width: 100%;
	height: 100%;
    object-fit: scale-down;
}

.image-col-2 {
	grid-column: span 1;
}


.image-row-2 {
	grid-row: span 2;
}

@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 3;
		--row-height: 200px;
	}
}













                
                







                
                
            
            
